__pycache__
.ipynb_checkpoints
*.sw
data_path
Access_dataset
assets
d_datasets
diffnet_640x192
HRFormer
images
kitti_data
monodepth_pretrain
MTN_data
THERMAL
THERMAL_predict
tmp
transdssl_pre
sources.tar 
*.ckpt
*.mp4
*.png
*.pth
wandb
patchnetvlad/pretrained_models/*